/* CSS stylesheet for a min width of 1024 px */
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Fjalla One', sans-serif;;
}

/* Navigation Bar Section */
#main-nav {
	position: fixed;
	z-index: 99;
	height: 80px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(42, 34, 34, 1.0), rgba(42, 34, 34, 0));

	display: grid;
	grid-template-columns: 20% 30% 15% 15% 20%;
	grid-template-rows: 80px;
}

#logo-container {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}

#list-container {
	grid-column: 3 / span 2;
	grid-row: 1 / span 1;
}

#list-container ul {
	padding: 0;
	list-style-type: none;
	font-size: 1.5rem;
	color: white;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Landing page settings */
#landing {
	height: 100%;
	width: 100%;
	background: url("../Images/Landing-page-background.jpg") no-repeat fixed center;

	display: flex;
	justify-content: center;
	align-items: center;
}

#title {
	width: 40%;
	height: auto;
	background: rgba(17,17,17,0.5);
	text-align: center;
	font-family: 'Italiana';
    line-height: 80%;
    border-radius: 15%;
}

.intro {
	font-size: 22px;
}

.col1 {
	color: white;
}

.name {
	font-size: 80px;
}

.col2 {
	color: #64D622;
}

